@{
    ViewBag.Title = "About";
}

<h3>How to Use the Calculator</h3>
<hr />
<p>
    The calculator takes in a number via keypad. When an operator is pressed,
    the screen will clear and wait for the next number to be entered. The 
    calculation will done when the "=" or any other operator button is pressed.
</p>

<h3> What Needs to be Finished </h3>
<hr />

<p>
    After a calculation is done, and operator can be pressed again causing a calculation
    to be done without entering another number. This is not how a calculator should function. 
    <br />
    <br />

    The layout for the calculator was done using static scaling. This is not ideal and would like 
    to have it be dynamic. Overall, the design could use some beautification.

    <br />
    <br />

    More buttons, like a backspace button, could be addd as well.
</p>
