@{
    ViewBag.Title = "Contact";
}
<h3>How to Contact Me</h3>

<address>>
    <abbr title="Phone">P:</abbr>
    734.770.9829
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:erik.olson140@gmail.com">erik.olson140@gmail.com</a><br />
</address>